:root {
    --primary-color:#FFFFFF;
    --secondary-color:#FFFFFF;
    --author-name-text-color:#000000;
    --primary-darken-color:#FF0011;
    --app-background-color: #FFFFFF;

    --link-color:#2c3e50;
    --link-active-color:#42b983;
}